---
import { Link } from './'
---

<nav class="top-nav">
	<ul class="flex gap-3">
		<Link href="/">Home</Link>
		<!-- <Link href="/about">About</Link> -->
		<Link href="/posts/1">Blog</Link>
	</ul>
</nav>
